.klaxx_no1 {
    background: @STRAWBERRY_500;
}

.klaxx_no2 {
    background: @ORANGE_500;
}

.klaxx_no3 {
    background: @BANANA_500;
}

.klaxx_no4 {
    background: @MINT_500;
}

.klaxx_no5 {
    background: @BLUEBERRY_500;
}

.highlight_child {
    background: @SLATE_100;
    opacity: 0.6;
}
